{
	"globals": {
		"expect": false,
		"sinon": false,
		"chai": false
	},
	"env": {
		"browser": true,
		"node": true,
		"mocha": true
	},
	"ecmaFeatures": {
	},
	"rules": {
		"no-console": 1,
		"no-else-return": 1,
		"no-eq-null": 1,
		"no-floating-decimal": 1,
		"no-self-compare": 1,
		"no-throw-literal": 1,
		"no-void": 1,
		"radix": 1,
		"vars-on-top": 1,
		"yoda": 0,
		"no-undefined": 1,
		"quotes": 0,
		"no-underscore-dangle": 0,
		"new-cap": [1, {
			"capIsNewExceptions": [
				"Throw"
			]
		}],
		"no-trailing-spaces": 0,
		"space-infix-ops": 0,
		"consistent-return": 0
	}
}
